.image img {
    width: 220px;
    height: 250px ;
}
.card {
    display: inline-block;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    margin: 20px;
    position: relative;
    margin-bottom: 50px;
    transition: all .2s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 54px;
  }
  
  .image {
    height: 200px;
    opacity: .8;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .image:hover,
  .card:hover .image {
    height: 250px;
    opacity: 1;
  }
  
  .text {
    background: #FFF;
    padding: 20px;
    /* min-height: 100px; */
  }
  
  .text p {
    margin-bottom: 0px;
  }
  
  .fab {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    margin-top: -90px;
    right: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
    color: #fff;
    font-size: 40px;
    line-height: 38px;
    text-align: center;
    background: #0a7919;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
  }
  
  .fab:hover {
    background: #042901;
    cursor: pointer;
    -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
  }

.entire {
    padding: 0 5vw;
}

.tab {
    overflow-x: auto;
    display: flex;
    align-items: center;
    padding: 0 5%;
    margin-top: 7vh;
}

.tab::-webkit-scrollbar { display: none;}

.tabs {
list-style: none;
}

.tabs li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 18px;
}


.card-title {
    margin-top: 2vh;
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 5vh;
}

.shopItems h5 {
    font-size: 20px;
    font-weight: 450;
}

.section-title {
    box-sizing: border-box;
    text-align: center;
}
.section-title h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    position: relative;
    display: inline-block;
    font-size: 30px;
    line-height: 36px;
}

.section-title h2:before {
    position: absolute;
    content: "";
    left: -100px;
    background-color: #000;
    width: 80px;
    height: 2px;
    top: 17px;
}

.section-title h2:after {
    position: absolute;
    content: "";
    right: -100px;
    background-color: #000;
    width: 80px;
    height: 2px;
    top: 17px;
}

@media only screen and (max-width: 767px) {
    .section-title h2:after {
        right: -40px;
        width: 30px;
    }
    .section-title h2:before {
        left: -40px;
        width: 30px;
    }
}

.box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}
.material-icons{
    font-size: 2.4em;
    cursor: pointer;
}
.card {
    width: 300px;

}
.card .card-image .card-title{
    color: black;
    font-weight: 400
}
.cart{
    margin-top:40px;
}
.collection .collection-item{
    display: flex;
}
.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: #c25151;
    display: block;
    margin-bottom: 20px;
    
}
.collection .collection-item img{
    width: 150px;
    margin-right: 25px;
}
.item-desc{
    align-self:center;
}
